{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", "jsx"] }]
  }
}
